:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --headings-color: #2e2f42;
  --text-color: #434455;
  --primary-white-color: #ffffff;
  --light-mode-color: #f4f4fd;
  --accent-color: #e7e9fc;
  --icon-color: #8e8f99;
  --success-color: #31d0aa;

  --modal-background: #fcfcfc;
  --border-color: rgba(46, 47, 66, 0.4);
  --box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

  --transition: var(--transition);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--primary-white-color);
  letter-spacing: 0.02em;
}

h1,
h2,
h3,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

address {
  font-style: normal;
}

ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  border: 0;
  outline-color: transparent;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.subtitle {
  font-family: inherit;
  letter-spacing: inherit;
  margin-bottom: 8px;
  color: var(--headings-color);
}

/**
  |============================
  | HEADER
  |============================
*/

.header {
  border-bottom: 1px solid var(--accent-color);
  box-shadow: var(--box-shadow);
}

.header-container {
  display: flex;
  align-items: center;
  min-width: 320px;
  max-width: 767px;
  min-height: 70px;
  padding: 24px 16px 22px;
  margin: 0 auto;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}

.logo-accent {
  color: var(--headings-color);
}

.mobile-menu-button {
  stroke: var(--headings-color);
  background-color: transparent;
}

@media only screen and (max-width: 768px) {
  .header-container {
    margin: 0 auto;
  }
  .logo {
    margin-right: auto;
  }
  .navigation-menu {
    display: none;
  }
  .address {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .header-container {
    min-width: 768px;
    max-width: 1158px;
    max-height: 71px;
    padding: 16px;
    justify-content: space-between;
  }
  .mobile-menu-button {
    display: none;
  }
  .menu {
    display: flex;
    gap: 40px;
  }
  .menu-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    color: var(--headings-color);
    transition: color var(--transition);
  }
  .menu-link:hover,
  .menu-link:focus,
  .menu-link:active {
    color: var(--pressed-state-color);
  }
  .current-page::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--pressed-state-color);

    transform: translateY(20px);
  }
  .contacts-link {
    font-size: 12px;
    line-height: 1.17em;
    letter-spacing: 0.04em;
    color: var(--text-color);

    transition: color var(--transition);
  }
  .contacts-link:hover,
  .contacts-link:focus,
  .contacts-link:active {
    color: var(--pressed-state-color);
  }
  .contacts {
    display: flex;
    flex-direction: column;
    column-gap: 12px;
  }
}

@media only screen and (min-width: 1158px) {
  .header-container {
    max-width: 1128px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .navigation-menu {
    margin-right: auto;
  }
  .contacts {
    flex-direction: row;
    gap: 40px;
  }
  .contacts-link {
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: 0.02em;
  }
  .logo {
    margin-right: 76px;
  }
}

/**
  |============================
  | HERO
  |============================
*/

.hero-section {
  min-width: 320px;
  max-width: 767px;
  padding: 112px 54px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--headings-color);
}

.hero-title {
  margin: 0 auto 72px;
  max-width: 320px;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  color: var(--primary-white-color);
}

.modal-button {
  min-width: 169px;
  min-height: 56px;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  color: var(--primary-white-color);
  background-color: var(--primary-brand-color);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition);
}

.modal-button:hover,
.modal-button:focus,
.modal-button:active {
  background-color: var(--pressed-state-color);
}

@media only screen and (min-width: 768px) {
  .hero-section {
    min-width: 768px;
    max-width: 1158px;
    padding: 112px 136px;
  }

  .hero-title {
    margin: 0 auto 36px;
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
}

@media only screen and (min-width: 1158px) {
  .hero-section {
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
  }
  .hero-title {
    margin: 0 auto 48px;
    max-width: 496px;
  }
}

/**
  |============================
  | FEATURES
  |============================
*/

.features-container {
  padding: 96px 16px;
  min-width: 320px;
  max-width: 767px;
  margin: 0 auto;
}

.features-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11em;
  text-align: center;
  text-transform: capitalize;
}

.feature-description {
  line-height: 1.5em;
  letter-spacing: 0.02em;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 72px;
}

@media only screen and (max-width: 767px) {
  .feature-item {
    width: 100%;
  }
}

@media only screen and (max-width: 1158px) {
  .feature-wrapper {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .features-container {
    min-width: 768px;
    max-width: 1158px;
  }
  .features-list {
    row-gap: 72px;
    column-gap: 24px;
  }
  .feature-item {
    max-width: calc((100% - 24px) / 2);
    flex-grow: 1;
  }
  .features-subtitle {
    text-align: start;
  }
}
@media only screen and (min-width: 1158px) {
  .features-container {
    width: 1158px;
    padding: 120px 15px 120px;
    margin-left: auto;
    margin-right: auto;
  }

  .features-list {
    gap: 24px;
    flex-wrap: nowrap;
  }

  .feature-item {
    min-width: 264px;
  }

  .feature-wrapper {
    display: flex;
    min-height: 112px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: #f4f4fd;
  }

  .features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2em;
  }
}

/**
  |============================
  | SERVICES
  |============================
*/
@media only screen and (max-width: 1157px) {
  .services {
    display: none;
  }
}

.services-container {
  width: 1158px;
  padding: 0 15px 120px;
  margin: 0 auto;
}

.services-list {
  display: flex;
  gap: 24px;
}

/**
  |============================
  | TEAM
  |============================
*/

.team {
  background-color: var(--light-mode-color);
}

.team-container {
  min-width: 320px;
  max-width: 767px;
  padding: 96px 0;
}

.section-title {
  margin: 0 auto 72px;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  text-transform: capitalize;
  color: var(--headings-color);
}

.team-item {
  width: 264px;
}

.team-card {
  margin: 0 auto;
  padding: 32px 16px;
  text-align: center;
  background: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: var(--box-shadow);
}

.team-image {
  margin: 0 auto;
}

.team-description {
  margin-bottom: 8px;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-icon {
  fill: var(--light-mode-color);
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--primary-brand-color);
  transition: background-color var(--transition);
}

.team-card .social-link:hover,
.team-card .social-link:focus {
  background-color: var(--pressed-state-color);
}

@media only screen and (max-width: 767px) {
  .team-item {
    margin-right: auto;
    margin-left: auto;
  }
  .team-item:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media only screen and (min-width: 768px) {
  .team-container {
    min-width: 768px;
    max-width: 1157px;
    padding: 96px 108px;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }

  .team-item {
    min-width: calc((100% - 24px) / 2);
  }

  .team-card {
    width: 264px;
  }
}

@media only screen and (min-width: 1158px) {
  .team-container {
    width: 1158px;
    padding: 120px 15px;
    margin: 0 auto;
  }
  .team-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .team-item {
    min-width: calc((100% - 72px) / 4);
  }
}

/**
  |============================
  | CUSTOMERS
  |============================
*/

.customers-container {
  min-width: 320px;
  max-width: 767px;
  padding: 96px 16px;
}

.customers-list {
  display: flex;
  column-gap: 16px;
  row-gap: 72px;
  flex-wrap: wrap;
}

.customers-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition: border-color var(--transition), color var(--transition);
}

.customers-link:hover,
.customers-link:focus {
  color: var(--pressed-state-color);
  border-color: var(--pressed-state-color);
}
.customers-logo {
  fill: currentColor;
}

@media only screen and (min-width: 768px) {
  .customers-container {
    min-width: 758px;
    max-width: 1157px;
    padding: 96px 108px;
  }

  .customers-list {
    column-gap: 24px;
  }
  .customers-item {
    width: calc((100% - 48px) / 3);
  }
}

@media only screen and (min-width: 1158px) {
  .customers-container {
    width: 1158px;
    margin: 0 auto;
    padding: 120px 15px;
  }
  .customers-list {
    flex-wrap: nowrap;
    gap: 24px;
  }
}

/**
  |============================
  | FOOTER
  |============================
**/
.footer {
  background-color: var(--headings-color);
  padding: 96px 0;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 72px 24px;
  min-width: 320px;
  padding: 0 15px;
  max-width: 428px;
  margin: 0 auto;
}

.footer-slogan-wrapper {
  max-width: 268px;
}

.footer .logo-accent {
  color: var(--light-mode-color);
}

.footer-slogan {
  margin-top: 16px;
  text-align: start;
  width: 264px;
  color: var(--light-mode-color);
}

.footer-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.footer-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer .social-link {
  fill: var(--light-mode-color);
}

.footer .social-link:hover,
.footer .social-link:focus {
  background-color: var(--success-color);
}

.footer-form-wrapper {
  max-width: 453px;
  width: 100%;
}

.footer-form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.footer-form-input {
  max-width: 320px;
  width: 100%;
  height: 40px;
  color: #ffffff;
  background-color: transparent;
  outline: transparent;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer-form-input::placeholder {
  line-height: 2px;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
}

.footer-form-button {
  display: flex;
  align-items: flex-start;
  width: 165px;
  height: 40px;
  padding: 10px 24px;
  background: var(--primary-brand-color);
  border-radius: 4px;
  color: #ffffff;
  transition: background-color var(--transition);
}

.footer-form-button:hover,
.footer-form-button:focus,
.footer-form-button:active {
  background-color: var(--pressed-state-color);
}

.footer-button-icon {
  width: 24px;
  margin-left: 16px;
}

@media only screen and (max-width: 767px) {
  .footer-container {
    text-align: center;
  }
  .footer-logo {
    margin: 0 auto;
  }
}
@media only screen and (min-width: 768px) {
  .footer-container {
    max-width: 768px;
    padding: 0 15px;
    justify-content: flex-start;
  }
  .footer-form {
    gap: 24px;
  }
    .footer-form-input {
    max-width: 264px;
  }
}
}
@media only screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    padding: 0 108px;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-container {
    max-width: 1158px;
    gap: unset;
  }
    .footer-slogan-wrapper {
    margin-right: 120px;
  }
  .footer-form-wrapper {
    margin-left: auto;
  }
}

/**
  |============================
  | PORTFOLIO
  |============================
*/

.portfolio {
  padding: 100px 15px 120px;
  width: 1158px;
  margin: 0 auto;
}

.filter-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.filter-button {
  padding: 11px 23px;
  color: var(--primary-brand-color);
  background-color: var(--light-mode-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  transition: background-color var(--transition), color var(--transition),
    border-color var(--transition), box-shadow var(--transition);
}

.filter-button:hover,
.filter-button:focus,
.filter-button:active {
  color: var(--primary-white-color);
  background-color: var(--pressed-state-color);
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-item {
  width: 360px;
  height: 420px;
}

.portfolio-link {
  display: block;
  border: 1px solid var(--accent-color);
  transition: border-color var(--transition), box-shadow var(--transition);
}

.portfolio-link:hover,
.portfolio-link:focus {
  border-color: var(--light-mode-color);
  box-shadow: var(--box-shadow);}

 .portfolio-card-wrapper {
  position: relative;
  width: 360px;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  color: var(--light-mode-color);
  background-color: var(--primary-brand-color);

  transform: translateY(100%);
  transition: transform var(--transition);
}

.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-card {
  padding: 32px 16px;
  border-top: none;
}

.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2em;
}

.portfolio-description {
  color: var(--text-color);
}

/**
  |============================
  | MODAL
  |============================
**/

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: var(--border-color);

  transition: opacity 0.3s linear 0.3s;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  display: inline-block;
  margin: 0 auto;
  padding: 72px 16px 24px;
  height: 584px;
  width: 392px;
  background-color: var(--modal-background);
  border-radius: 4px;

  transition: transform 0.6s ease, opacity 0.1s ease;
  transform: translate(-50%, -50%);
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
}

.close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: background-color var(--transition), border-color var(--transition);
}

.close-button:hover,
.close-button:focus {
  background-color: var(--pressed-state-color);
  border-color: transparent;
}

.close-button-icon {
  fill: var(--headings-color);
  transition: fill var(--transition);
}

.close-button:hover .close-button-icon,
.close-button:focus .close-button-icon {
  fill: var(--primary-white-color);
}

.modal-header {
  display: block;
  margin-bottom: 16px;
  font-weight: 500;
  text-align: center;
  color: var(--headings-color);
}

.order-form {
  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.01em;
  color: var(--icon-color);
}

.order-input-wrapper {
  position: relative;
  display: block;
  margin-bottom: 8px;
  margin-top: 4px;
}

.order-input {
  width: 100%;
  height: 40px;
  padding: 0 16px 0 38px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  line-height: 1.17em;
  color: var(--headings-color);

  transition: border-color var(--transition);
}

.order-input:focus,
.order-comment-input:focus {
  outline: none;
  border: 1px solid var(--primary-brand-color);
}

.order-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);

  fill: var(--headings-color);
  transition: fill var(--transition);
}

.order-input:focus + .order-input-icon {
  fill: var(--primary-brand-color);
}

.order-comment-input {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
  margin: 4px 0 16px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  line-height: 1.17em;
  color: var(--headings-color);

  transition: border-color var(--transition);
}

.order-comment-input::placeholder {
  letter-spacing: 0.04em;
  color: var(--border-color);
}

.order-check-label {
  margin-bottom: 24px;
  letter-spacing: 0.04em;
}

.order-check-label::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  cursor: pointer;

  transition: background var(--transition);
}

.order-check:checked + .order-check-label::before {
  background-color: #404bbf;
  background-image: url(../images/background/Vector.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 10px 8px;
}

.order-check:focus + .order-check-label::before {
  border: 1px solid var(--primary-brand-color);
}

.order-check-label {
  display: flex;
  align-items: center;
}

.order-privacy-link {
  color: var(--primary-brand-color);
}

/**
  |============================
  | MOBILE-MENU
  |============================
*/
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 80px 35px 40px 40px;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-white-color);

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.mobile-menu .close-button {
  background-color: rgba(231, 233, 252, 0.1);
  border: 1px solid rgba(46, 47, 66, 0.1);
  transition: background-color var(--transition), border-color var(--transition);
}
.close-button:hover,
.close-button:focus {
  background-color: var(--pressed-state-color);
  border-color: transparent;
}

.mobile-navigation {
  margin-bottom: auto;
}

.mobile-navigation-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11em;
  color: var(--headings-color);

  transition: color var(--transition);
}

.mobile-navigation-link:active {
  color: var(--pressed-state-color);
}

.mobile-navigation-link.current-mobile-page {
  color: var(--pressed-state-color);
}

.mobile-navigation-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-contacts {
  margin-bottom: 48px;
}

.mobile-contacts-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-contacts-phone {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11em;
  color: var(--primary-brand-color);
}

.mobile-contacts-phone:active {
  color: var(--pressed-state-color);
}

.mobile-contacts-mail {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--text-color);
}

.mobile-contacts-mail:active {
  color: var(--pressed-state-color);
}

.social-media-list {
  display: flex;
  gap: 56px;
}

.social-media-list .social-link:active {
  background-color: var(--pressed-state-color);
}
